aside {
    margin: 1rem;

    .jordan-filtro {
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: left;
        border-bottom: black;
        border-style: solid;
        width: 10rem;
        margin-top: 2rem;
    }

    .nike {
        text-transform: uppercase;
        font-size: 3.6rem;
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    li {
        padding-bottom: 1rem;
        padding-left: 0.5rem;
    }
}