aside {
    margin: 1rem;

    .jordan-filtro {
        @extend .filtro-sale
    }

    .nike {
        text-transform: uppercase;
        font-size: 3.6rem;
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    li {
        padding-bottom: 1rem;
        padding-left: 0.5rem;
    }

    .filtro-sale{
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: left;
        border-bottom: $color-principal;
        border-style: solid;
        width: 10rem;
        margin-top: 2rem;
    }
    .hot-sale-aside{
        @extend .adidas
    }
    .adidas {
        text-transform: uppercase;
        font-size: 3.6rem;
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .filtro-adidas{
@extend .filtro-sale
    }
    
}