footer{
        background-color: rgb(23, 23, 23);
    font-size: 1.6rem;
@include flex;
    padding-top: 1rem;
    color: $color-secundario;
    line-height: 3rem;
    a{
        color: $color-secundario;
    }
    li{
        list-style: none;
        padding-top: 1rem;
    }
}


