footer{
        background-color: rgb(23, 23, 23);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    color: white;
    line-height: 3rem;
    a{
        color: white;
    }
    li{
        list-style: none;
        padding-top: 1rem;
    }
}


