main {
    .zapas-nike {
        div {
            border-color: black;
            border-style: solid;
            box-shadow: 0.3rem 0.3rem 0.5rem grey;
            width: 30rem;
            font-size: 1.4rem;
        }

        h2 {
            padding-bottom: 0.5rem;
            padding-left: 0.25rem;
        }

        h3 {
            text-transform: capitalize;
            font-size: 1.6rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}